

/* Reset styles */
body, h1, h2, h3, h4, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.5;
    animation: backgroundAnimation 20s ease infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: center 0%; }
    50% { background-position: center 100%; }
    100% { background-position: center 0%; }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin: 0;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to right, #946f00, #e9c351);
    opacity: 0.8;
    z-index: -1;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0px;
}

.grid-content {
    padding: 0;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 8px;
    align-items: flex-start;    
    list-style-position: outside;
  }

.container {
    padding: 10px;
    margin: 0px;
  }

  .logo-full {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
  }

  .logo-short {
    display: none;
  }
  
  .navigation {
    list-style-type: none;
    display: flex;
  }
  
  .navigation li {
    margin-left: 20px;
  }
  
  .navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 1s ease;
  }
  
  .navigation a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .underheader {
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    padding: 0px;
    width: 100%;
    margin: 0;
    overflow-y: auto;
  }
  
  /* Profile Picture Styles */
  .profile-picture {
    top: 0px;
    float: left;
    width: 75px;
    height: 80px;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px;
  }

  .headshot {
    width: 80px;
    height: auto;
    border-radius: 50%;
    /* animation: rotateAnimation 5s linear infinite;     */
  }

  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  details {
    padding: 5px 0 5px 0;
  }
  
  summary {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid #ddd;
    transition: background-color 3s, color 3s;
    background-image: linear-gradient(to right, #946f00, #e9c351);
    color: white;
    margin: 0;
    padding: 10px 0 10px 10px;
  }

  summary span.left {
    position: absolute;
    left: 30px;
  }

  summary span.right {
    position: absolute;
    right: 20px;
    color:#fff;
  }

  summary:hover {
    background-image: linear-gradient(to right,  #e9c351, #946f00);
    color: #666;
  }

  .content span.right {
    position: absolute;
    right: 20px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  details span.left {
    text-align: left;
  }

  details span.right {
    flex-basis: auto;
    text-align: right;
  }

  details[open] summary:before {
    transform: rotate(90deg);
  }

  details[open] summary {
    background-image: linear-gradient(to right,  #e9c351, #946f00);
  }

  details[open] details:not([open]) > summary {
    background-image: linear-gradient(to right, #946f00, #e9c351);
  }

  .content {
    padding: 10px 10px 0px 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: -1px;
  }

  
  /* Section styles */
  .section {
    background-color: #fff;
    top: 60px;
    bottom: 140px;
    /* overflow-y: auto; */
  }

  .expand-button {
    background-color: #e9c351;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .expandable-content .content {
    display: none;
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: 10px;
  }
  
  .expandable-content.expanded .content {
    display: block;
  }
  

  .text p {
    padding-bottom: 20px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #666;
    color: #fff;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
  }

  footer a {
    color:#e9c351;
    text-decoration: none;
  }

  footer a:hover {
    color: #000;
  }
  
  footer .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer .contact-info {
    font-size: 14px;
    text-align: center;
  }
  

  .left-column {
    text-align: right;
    padding-right: 5px;
  }
  
  .right-column {
    text-align: left;
    padding-left: 5px;
  }

  .skills-list, .hobbies-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 8px;
    align-items: flex-start;    
    list-style-position: outside;
    padding-top: 10px;
  }
  
  .skills-list > li, 
  .hobbies-list > li
  {
    display: flex;
    align-items: center;
    padding-left: 1em;
    position: relative;
    line-height: 20px;
  }

  .skills-list > li:hover {
    font-weight: bolder;
  }

  .skills-list > li:before, 
  .hobbies-list > li::before {
    position: absolute;
    content: '';
    top: 0.5em;
    left: 0; 
    width: 0.75em; 
    height: 0.75em;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(to right, #946f00, #e9c351);
    border-radius: 50%;
    margin-right: 0.5em;
  }  

  .skill-category {
    font-weight: bold;
  }
  
  .skill-category:not(:first-child) {
    margin-top: 10px;
  }

  .projects-list {
  }
  
  .projects-list > li {
    padding-left: 1em;
    position: relative;
    padding-bottom: 0.5em;
    list-style-type: none;
  }

  .projects-list > li:before {
    position: absolute;
    content: '';
    top: 0.5em;
    left: 0; 
    width: 0.75em; 
    height: 0.75em;
    width: 10px;
    height: 10px;
    background: linear-gradient(to right, #946f00, #e9c351);
    border-radius: 50%;
    margin-right: 0.5em;
  }  

  .projects-list ul {
    padding-left: 20px;
  }

  .toggle-nav {
    display: none;
  }


/* Existing CSS */
@media only screen and (min-width: 601px) and (min-height: 550px) {
    .text {
        overflow:hidden;
    }
    
    .toggle-nav-label {
      display: none;
    }

    .underheader {
        overflow-y: initial;
      }

      @keyframes moveUpDown {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(55%);
        }
        100% {
          transform: translateY(0);
        }
      }

    .profile-picture {
        position: sticky;
        width: 200px;
        height: 100%;
        margin: 0;
        border-radius: initial;
        padding: 0 10px 0 10px;
        /* animation: moveUpDown 3s ease-in-out infinite alternate;         */
    }
    .headshot {
        width: 200px;
        height: auto;
      }
    .section {
        position: fixed;
        top: 60px;
        bottom: 140px;
        overflow-y: auto;
        display: flex;
    }

    footer {
        position: fixed;
        margin: 0px;
    }
  }

@media screen and (max-width: 325px) {
    .logo-full {
        display: none;
    }
    .logo-short {
        display: initial;
        font-size: 24px;
        color: #fff;
        font-weight: bold;
      }
}
/* Existing CSS */

/* Add the following media query */
@media screen and (max-width: 600px) {
    
    .toggle-nav-label {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      cursor: pointer;
      padding: 10px;
    }
    
    .menu-icon {
      display: block;
      width: 30px;
      height: 24px;
      position: relative;
      cursor: pointer;
    }
    
    .line {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      margin-bottom: 4px;
      transition: background-color 0.3s ease;
    }
    
    .toggle-nav:checked ~ .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; /* Span the whole width */
    }
    
    .navigation {
      display: none;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 2;
    }
    
    .navigation li {
      margin: 10px 0;
    }
  }
  